# Local settings for shcoolinfo

# Database settings
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'schoolinfo',
        'USER': '',
        'PASSWORD': '',
        'OPTIONS': {'charset': 'utf8'},
    }
}

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
