<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Школьная информационная система</title>
	<meta http-equiv="Content-Language" content="Russin" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrap">
	<div id="header">
		<div id="headerlinks">
		<a href="/admin/" title="Contact">Административная панель</a>
		</div>
		<span class="title"><a href="/">Школьная информационная система</a></span>
	</div>

	<div id="sidebar">
		<h2>Ссылки:</h2>
		<div class="box">
		<ul>
		<li><a href="{% url 'teacher_list' %}">Список преподавателей</a></li>
		<li><a href="{% url 'subject_list' %}">Список предметов</a></li>
		<li><a href="{% url 'school_list' %}">Список школ</a></li>
		</ul>
		</div>
		<h2>Список учеников Математики:</h2>
		<div class="box">
		<ul>
		<li><a href="{% url 'subject_students' 'matematika' %}">Список учеников в алфавитном порядке</a></li>
		<li><a href="{% url 'subject_students_by_class' 'matematika' %}">Список учеников с группировкой по классам</a></li>
		<li><a href="{% url 'subject_students_by_teacher' 'matematika' %}">Список учеников с группировкой по преподавателю</a></li>
		</ul>
		</div>
		<h2>Список учеников Гришина Игоря Вадимовича:</h2>
		<div class="box">
		<ul>
		<li><a href="{% url 'teacher_students' 'grishin-igor-vadimovich' %}">Список учеников в алфавитном порядке</a></li>
		<li><a href="{% url 'teacher_grade_students' 'grishin-igor-vadimovich' 2 %}">Список учеников 2-х классов</a></li>
		<li><a href="{% url 'teacher_grade_students_by_class' 'grishin-igor-vadimovich' 2 %}">Список учеников 2-х классов с группировкой по классам</a></li>
		</ul>
		</div>
	</div>

	<div id="content">
		<h1> {% block title %}Главная{% endblock %} </h1>
		{% block content %}
		<h2>Lorem Ipsum <span class="post-span">- by Maurice from 09 Feb 2013</span></h2>
		<img src="{{ STATIC_URL }}img/placeholder/technics-q-c-680-280-4.jpg" class="post-img" alt="Bild" />
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

		<h2>Lorem Ipsum <span class="post-span">- by Maurice from 09 Feb 2013</span></h2>
		<img src="{{ STATIC_URL }}img/placeholder/technics-q-c-680-280-1.jpg" class="post-img" alt="Bild" />
		<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

		<h2>Lorem Ipsum <span class="post-span">- by Maurice from 09 Feb 2013</span></h2>
		<img src="{{ STATIC_URL }}img/placeholder/technics-q-c-680-280-8.jpg" class="post-img" alt="Bild" />
		<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
		{% endblock %}
	</div>

	<div id="footer">
		Школьная информационная система
	</div>
</div>
</body>
</html>
